html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #fbc531;
}

div::selection {
  background: #dff9fb;
}

.main {
  &_container {
    background-color: #F1F2F6;
    overflow: hidden;
    color: #57606F;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
  &_greeting {
    font-size: 48px;
  }
  &_subtext {
    font-size: 24px;
    margin: 24px 0;
  }
  &_info {
    padding: 64px;
    width: 40%;
  }
  &_links {
    position: absolute;
    top: 0;
    right: 0;
    padding: 64px;
    .link {
      text-align: right;
      margin-bottom: 24px;
      font-size: 24px;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .main {
    &_info {
      padding: 48px;
      width: 60%;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main {
    &_greeting {
      font-size: 48px;
    }
    &_subtext {
      font-size: 24px;
      margin: 24px 0;
    }
    &_info {
      padding: 48px;
      width: 70%;
    }
    &_links {
      padding: 48px;
      .link {
        margin-bottom: 18px;
      }
    }
  }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .main {
    &_greeting {
      font-size: 36px;
    }
    &_subtext {
      font-size: 18px;
      margin: 18px 0;
    }
    &_info {
      padding: 36px;
      width: 70%;
    }
    &_links {
      padding: 36px;
      .link {
        font-size: 18px;
        margin-bottom: 18px;
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .main {
    &_greeting {
      font-size: 24px;
      padding: 12px 0;
    }
    &_subtext {
      font-size: 18px;
      margin: 8px 0;
    }
    &_info {
      padding: 36px;
      width: 80%;
    }
    &_links {
      padding: 36px;
      .link {
        font-size: 14px;
        margin-bottom: 14px;
      }
    }
  }
}

